html, body {
    height: 100%;
}

#app {
    height: 100%;
    padding: 30px
}

.content-contanier {
    height: 100%;
    padding: 30px;
}

.content-row {
    width: 100%;
}

.el-table .el-table__header-wrapper {
    background: #EBEBEB;
}

.el-table th {
    background: #EBEBEB;
}

.el-table th > .cell {
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    line-height: 21px;
}

.el-table .cell {
    font-size: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
}

.el-pagination {
    text-align: center;
    margin-top: 19px;
}

.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    width: 22px;
    height: 22px;
    line-height: 22px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background: rgba(90, 117, 246, 1);
}

.qr-container {
    text-align: center;
}