<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>账号详情</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/viewport.js"></script>
</head>
<body>
<div id="app">
    <template>
        <el-container class="content-contanier">
            <el-row :span="24" class="content-row">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="哩布哩布" name="liblib">
                        <el-table v-loading="loading" :data="liblib" stripe style="margin-top: 10px">
                            <el-table-column prop="name" label="账号" align="center"></el-table-column>
                            <el-table-column prop="score_balance" label="现有金币" align="center"></el-table-column>
                            <el-table-column prop="cash_balance" label="现金收益（元）" align="center"></el-table-column>
                            <el-table-column prop="cash_amount" label="总收益（元）" align="center"></el-table-column>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>
            </el-row>
        </el-container>
    </template>
</div>
</body>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                activeName: 'liblib',
                liblib: [],
                loading: false,
            };
        },
        mounted() {
            document.title = "哩布哩布";
            this.getLiblib();
        },
        methods: {
            handleClick() {
                if (this.activeName === 'liblib') {
                    this.getLiblib();
                    document.title = "哩布哩布";
                }
            },
            getLiblib() {
                const that = this
                $.get('/liblib?t=' + new Date().getTime()).then(res => {
                    that.liblib = res
                })
            }
        }
    })
</script>
</html>