name: 自动同步
on: [push, workflow_dispatch]
jobs:
  repo-sync:
    name: 同步到gitee
    runs-on: ubuntu-latest
    steps:
      - name: 删除过多的workflows
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ secrets.AUTH_PAT }}
          repository: ${{ github.repository }}
          retain_days: 1
